
.topLayer_collapsible > h1 {
    padding: 3rem;
    display: block;
    font-size: 3rem;
    font-weight: 900;
    vertical-align: middle;
}

#readDocList {
    padding-bottom: 2rem;
    display: block;
    vertical-align: middle;
}

    #readDocList_pcDocButton,
    #readDocList_mobileDocButton {
        background: #2CC185;

        margin: 0 0.5rem;
        width: 7rem;
        height: 7rem;
        display: inline-block;
        border: 1px solid #2CC185;
        border-radius: 50%;

        padding: 1rem;
        background: #A3D1D1;
        border-radius: 3rem;
        box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.14),
                    2px 2px 9px 1px rgba(0, 0, 0, 0.12),
                    4px 4px 2px -2px rgba(0, 0, 0, 0.2);
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 3rem;
        line-height: 5rem;
        color: #EEE;
        transition: width 0.4s,
                    padding 0.4s,
                    border-radius 0.4s 0.1s;
    }

    #readDocList_pcDocButton::before,
    #readDocList_mobileDocButton::before {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        background-image: url("../icon/pc_mobile_icon.svg");
        background-repeat: no-repeat;
    }

    #readDocList_pcDocButton::before {
        background-position: 0% 0%;
        background-size: 200% 100%;
    }

    #readDocList_mobileDocButton::before {
        background-position: 100% 0%;
        background-size: 200% 100%;
    }

    body.onPCDoc #readDocList_pcDocButton,
    body.onMobileDoc #readDocList_mobileDocButton {
        width: 14rem;
        padding: 1rem 4.5rem;
        background: #5CADAD;
        border-radius: 1rem;
    }

    @media (min-width: 600px) {
        .topLayer_collapsible > h1 {
            display: inline-block;
        }

        #readDocList {
            display: inline-block;
            padding-bottom: 0;
        }
    }

#tagMain {
    width: 100%;
    position: relative;
    font-size: 3rem;
    line-height: 3rem;
}

.material {
    margin: 2rem;
    padding: 2rem;
    background: #D1D1DE;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                0 2px 9px 1px rgba(0, 0, 0, 0.12),
                0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

#tagMain img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 60rem;
    border: 1px solid #AAA;
    display: block;
}

#installDoc_pc,
#installDoc_mobile {
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    overflow: hidden;
    animation-duration: 0.4s;
}

#installDoc_pc {
    left: -50%;
}

#installDoc_mobile {
    left: 50%;
}

    @media (max-width: 600px) {
        #installDoc_pc,
        #installDoc_mobile {
            animation-duration: 0.2s;
        }
    }

    body.onPCDoc #installDoc_pc {
        height: initial;
        left: 0;
        animation-name: modeSwitch_docPC_onPCDoc;
    }

    body.onMobileDoc #installDoc_pc {
        left: -100%;
        animation-name: modeSwitch_docPC_onMobileDoc;
    }

    body.onPCDoc #installDoc_mobile {
        left: 100%;
        animation-name: modeSwitch_docMobile_onPCDoc;
    }

    body.onMobileDoc #installDoc_mobile {
        height: initial;
        left: 0;
        animation-name: modeSwitch_docMobile_onMobileDoc;
    }

    @keyframes modeSwitch_docPC_onPCDoc {
        from {
            height: initial;
            left: -100%;
        }
        to {
            height: initial;
            left: 0;
        }
    }

    @keyframes modeSwitch_docPC_onMobileDoc {
        from {
            height: initial;
            left: 0;
        }
        to {
            height: initial;
            left: -100%;
        }
    }

    @keyframes modeSwitch_docMobile_onPCDoc {
        from {
            height: initial;
            left: 0;
        }
        to {
            height: initial;
            left: 100%;
        }
    }

    @keyframes modeSwitch_docMobile_onMobileDoc {
        from {
            height: initial;
            left: 100%;
        }
        to {
            height: initial;
            left: 0;
        }
    }

